html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ol, ul {list-style: none; }
/* clases */
.displayFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.trans5 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}
.trans8 {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out
}
.cw180{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background: #f3f5f6
}
.mainContainer{
  position: relative;
  margin: 0px auto;
  width: 80vw;
  height: 100vh;
 /* border: 1px solid #e7ecf1;*/
  background: #fff;
  /* overflow: hidden; */
}
.mainContainer>header{
  width: calc(100% - 40px);
  margin: 15px auto;
  height: 30px;
  border-bottom: 1px solid #e7ecf1;
}
/* A PARTIR DE AQUÃ */
ul#tutorialIndex{
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: calc(100% - 20px);
  height: 100px;
}
ul#tutorialIndex>li{
  margin: 10px auto;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #fff;
}
ul#tutorialIndex>li>a{ cursor: pointer; }
.hoverTut{
  cursor: pointer;
  text-align: right;
  width: calc(100% - 10px);
  height: 0;
  right: 0;
  line-height: 30px;
  background: none;
  overflow: hidden;
}
.indexTut{
  min-width: 60px !important;
  min-height: 60px;
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
ul#tutorialIndex>li:hover>.hoverTut{ height: 30px; }
.infoTut{
  position: relative;
  padding: 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.infoTut>h2{ font-weight: 600; }
.infoTut>p{
  line-height: 1.5;
  font-size: 0.9rem;
}
/* Clases Tutorial Visto/ Tutorial NoVisto */
.seenTut{ background: #1F3A93; }
.noseenTut{ background: #818890; }
/* POP TUTORIAL */
#popTut{
  display: none;
  opacity: 0;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1F3A93;
}
#popTut>nav{
  width: calc(100% - 30px);
  height: 50px;
  margin: 10px auto;
  border:1px solid #1F3A93;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
#popTut>nav>a{ cursor: pointer; height: 100%;}
#popTut>nav>a:hover{ opacity: 0.9; }
#popTut>nav>a>img{ height: 100% !important; }
#popTut>nav>div{height: 60%; border:1px solid #1F3A93;}
#popTut>nav>div>img{ height: 100%; }
#containerTut{
  width: calc(100% - 30px);
  margin: 0 auto;
}
#containerTut>#headTut{
  width: 100%;
  height: 80px;
  text-align: center;
}
#containerTut>#headTut>#iconTut{
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dashIc{ background-image: url('../img/iconsTut/dashIcon.svg') }
.parrilaIc{ background-image: url('../img/iconsTut/parrillaIcon.svg') }
.bibliotecaIc{ background-image: url('../img/iconsTut/bibliotecaIcon.svg') }
.materialesIc{ background-image: url('../img/iconsTut/materialesIcon.svg') }
.historialIc{ background-image: url('../img/iconsTut/historialIcon.svg') }
.metricasIc{ background-image: url('../img/iconsTut/metricasIcon.svg') }
#containerTut>#headTut>h3{
  color: #fff;
  font-size: 1.5rem;
}
#containerTut>#headTut>span{
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 1px;
  background: #fff;
}
#mainContainerTut{
  position: relative;
  width: 90%;
  max-width: 900px;
  min-width: 300px;
  height: 300px;
  margin: -2% auto;
}
#mainContainerTut>.arrowTut{
  cursor: pointer;
  display: none;
  width: 40px;
  height: 100%;
  background: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#mainContainerTut>.arrowTut:hover{ opacity: 0.8;}
#mainContainerTut>#prevTut:hover{
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
#mainContainerTut>#nextTut:hover{
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
#mainContainerTut>#sliderContainerTut{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: none;
}
#sliderTut{
  position: absolute;
  width: 400%;
  height: 100%;
  left: 0;
  background: none;
}
#sliderTut>li{
  height: 100%;
  width: 25%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#sliderTut>li>img{
  -webkit-box-shadow: 3px 4px 5px 0px rgba(38,38,38,1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(38,38,38,1);
  box-shadow: 3px 4px 5px 0px rgba(38,38,38,1);


  width: 80%; }
#swipeTut{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}
#bulletsContainerTut{
  width: 100%;
  height: 40px;
}
#bulletsTut{
  position: relative;
  height: 30px;
  margin: 0 auto;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
#bulletsTut>li{
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#bulletsTut>li>span{
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease
}
.bulletSelected{
  border:1px solid #fff;
  background: none !important;
}
#bulletsTut>li:hover>span{
  opacity: 0.8;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#footTut{
  width: calc(100% - 30px);
  height: 60px;
  margin: 0 auto;
  border:1px solid #1F3A93;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#footTut>a{
  cursor: pointer;
  position: relative;
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #1F3A93;
  text-align: center;
  border-radius: 20px;
}
#footTut>a:hover{ color: #fff; }
#footTut>a:hover>span{
  visibility:visible;
  left: 0; }
#footTut>a:hover>p{ border:1px solid #fff; }
#footTut>a>span{
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #1F3A93;
}
#footTut>a>p{
  display: block;
  position: absolute;
  width: 180px;
  border-radius: 20px;
  z-index: 3;
  border:1px solid #1F3A93;
}


/* DESKTOP */
@media (min-width: 720px) {
  #mainContainerTut{ height: 450px }
  #mainContainerTut>.arrowTut{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  #mainContainerTut>#sliderContainerTut{ width: calc(100% - 80px); }
  #swipeTut{ display: none; }
}
